<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>

    <%- include('../partials/nav.ejs') %>

      <div class="container">
        <div class="card-container">
          <!-- Code here -->
          <% if (questions.length> 0) { %>
            <% questions.forEach(item=> { %>
              <div class="card-block">
                <a href="#">
                  <h3>
                    <!-- <i class="<%= item.icon %>"></i> -->
                    <%= item.title %>
                  </h3>
                  <h3 class="card-label">
                    <%= item.desc %>
                  </h3>
                </a>
              </div>
              <% }) %>
                <% } else { %>
                  <p>Loading...</p>
                  <% } %>
                    <!-- END Code Here -->
        </div>
      </div>

      <%- include('../partials/footer.ejs') %>

        <script src="/js/main.js"></script>

  </body>

</html>