<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>

    <%- include('../partials/nav.ejs') %>

      <div class="container">
        <div class="card-container">
          <!-- Code here -->
          <% if (menus.length> 0) { %>
            <% menus.forEach(item=> { %>
              <div class="card-block">
                <a href="<%= item.link %> ">
                  <h3>
                    <i class="<%= item.icon %>"></i>
                  </h3>
                  <h3 class="card-label">
                    <%= item.label %>
                  </h3>
                </a>
              </div>
              <% }) %>
                <% } else { %>
                  <div class="card-block">
                    <a href="/">
                      <h3>
                        <i class="fas fa-home"></i>
                      </h3>
                      <h3 class="card-label">
                        Beranda
                      </h3>
                    </a>
                  </div>
                  <% } %>
                    <!-- END Code Here -->
        </div>
      </div>

      <%- include('../partials/footer.ejs') %>

        <script src="/js/main.js"></script>

  </body>

</html>